<div class="container">
  <div class="row">
    
    <div class="col-sm-4 col-sm-offset-4 thumbnail">
      <form class="form-signin" (ngSubmit)="login()">
        
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li role="presentation"><a [routerLink]="['/login']">Sign in</a></li>
          <li role="presentation" aria-selected="true"><a [routerLink]="['/register']">Register</a></li>
        </ul>
        <br>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" name="username" [(ngModel)]="user.username" placeholder="Username"
          required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="username" [(ngModel)]="user.password" placeholder="Password"
          required>
        <br>
        <button class="btn btn-primary btn-block" type="submit">Sign in</button>
      </form>
      <div *ngIf=wrongUsernameOrPass class="alert alert-warning box-msg" role="alert">
        Wrong username or password.
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>